include LICENSE
include README.md
include HISTORY.rst
include requirements.txt
include requirements-tests.txt

# Include test_em.py so that it's part of the source distribution.
include test_em.py

# Include all files from the EM package and its subdirectories.
recursive-include EM *

# Optionally, include specific non-Python file types from EM:
recursive-include EM *.csv *.txt *.json *.yaml *.yml *.cfg

# Include additional configuration files if needed.
include setup.cfg
